.header{
    position: absolute;
    top: 0;
    width: 100%;
    &--nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        &__logo{
            width: 3rem;
        }
        &__items{
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
        &__item{
        }
        &__icons{
            display: flex;
            gap: 2rem;
        }
        &__icon{
            width: 2rem;
        }
    }
}