.product{
    margin-top: 10rem;
    &--fiche{
        &--container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
            &__img{
                width: 40%;
                img{
                    width: 100%;
                    border-radius: 1rem;
                }
            }
            &__fiche{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                font-size: 1.2rem;
                h3{
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                }
                li{
                    list-style: circle;
                }
            }
            &__quantite{
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                &__selecteur{
                    display: flex;
                    align-items: center;
                    div{
                        border: solid 1px $color-secondary;
                        text-align: center;
                    }
                    &__chiffre{
                        padding: .75rem;
                        min-width: 1.5rem;
                    }
                    &__img{
                        width: 50%;
                    }
                }
                &__btn{
                    display: flex;
                    align-items: center;
                    padding: 1rem 2rem;
                    border: solid 1px $color-secondary;
                    border-radius: .5rem;
                    &:hover{
                        background-color: $color-secondary;
                    }
                }
            }
        }
        &__reassure{
            display: flex;
            justify-content: space-around;
            margin-top: 2.5rem;
            span{
                padding: 1rem;
                border-radius: .5rem;
                border: solid 3px $color-secondary;
                background-color: $color-secondary;
            }
        }
    }
    &--description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        &__container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $bg-secondary;
            padding: 2rem;
            gap: 1rem;
            border-radius: 1rem;
            width: 50%;
            &__texte{
                width: 80%;
                text-align: center;
                line-height: 1.8rem;
            }
        }
        &__app{
            display: flex;
            align-items: center;
            margin-top: 2.5rem;
            &__download{
                width: 70%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &__title{
                    font-size: 1.5rem;
                    width: 60%;
                    text-align: center;
                }
                &__link{
                    display: flex;
                    justify-content: center;
                    gap: .5rem;
                    picture{
                        margin-top: 1.5rem;
                        width: 20%;
                        img{
                            width: 100%;
                            border-radius: .3rem;
                        }
                    }
                }
                
            }
            &__qrcode{
                width: 40%;
                img{
                    width: 30%;
                    padding: 1.5rem;
                    border: solid 3px $color-secondary;
                    border-radius: .5rem;
                }
            }
        }
    }
    &--modal{
        background-color: $bg-secondary;
        height: 70%;
        width: 30%;
        position: absolute;
        visibility: hidden;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        &__separator{
            width: 80%;
            border: solid 1px $color-secondary;
            margin: 2rem;
        }
        &__container{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            &__quantite{
                display: flex;
                align-items: center;
                gap: 1rem;
            }
            &__selecteur{
                display: flex;
                #quantitePanier{
                    padding: .65rem;
                    min-width: 1.5rem;
                }
                div{
                    border: solid 1px $color-secondary;
                    text-align: center;
                }
                img{
                    width: 50%;
                }
            }
        }
        &__btn{
            padding: 1rem 3rem;
            border: solid 1px $color-secondary;
            border-radius: .5rem;
            &:hover{
                background-color: $color-secondary;
            }
        }
        &__total{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            margin-bottom: 2rem;
        }
        &__totalTitle{
            font-weight: 400;
            font-size: 1.5rem;
        }
        &__totalPrice{
            font-size: 1.5rem;
        }
        &__title{
            margin-top: 1rem;
            font-weight: 400;
            font-size: 1.6rem;
        }
        & picture{
            width: 50%;
        }
        &__img{
            width: 100%;
            border-radius: .8rem;
        }
        &__info{
            display: flex;
            flex-direction: column;
        }
    }
}